<IfModule mod_rewrite.c>
RewriteOptions inherit
Options -Indexes
Options +FollowSymLinks
RewriteEngine on

RewriteEngine On  
  
RewriteCond %{SCRIPT_FILENAME} !-d  
RewriteCond %{SCRIPT_FILENAME} !-f  

RewriteRule ^(.*)$ ./index-actions.php?route=$1



</IfModule>
