@charset "utf-8";
/* CSS Document */
* { margin:0; padding:0; }

body { 
	color:#fff;
    font:14px/20px 'Open Sans', Arial,sans-serif;
	margin:0px; 
	padding:0px; 
	background:#190e0a;
	font-weight:500;
}

.left_column_icon_1, .left_column_icon_2, .left_column_icon_3 {
display: inline-block;
width: 33%;	
}

.icon_this_r {
		    line-height: 32px;
	}

.left_column_icon, .right_column_icon {
display: inline-block;
width: 49%;
}

.icon_group_r {border: #fff 1px solid;
    padding: 25px;
    border-radius: 5px;}
	
	.icon_this_r span {
	display: inline-block;
    vertical-align: top;
    padding-left: 5px;
	}

.icon_this_r label {
    display: inline-block;
    width: 35px;
	text-align: center;	
}





h1, h2, h3, h4, h5 {  font-weight:500; padding:0 0 10px 0; font-family:'Open Sans' }
img { border:0px; }
a { color:#ea9103; text-decoration:none; cursor:pointer; }
a:hover { color:#7d7f68 !important; }
p { padding:0 0 15px; }
table, table td {
    /*border:medium none;*/
    border-collapse:collapse;
    padding:5px;
}
ul, ol { padding:0 0 0 20px; }
input, select, textarea {
	border:1px solid #0d0a9e;
    background-color: #0d0a9e;
	padding:3px;
	color:#7f8797;	
}

.clear{
	clear:both;
	overflow:hidden;
	width:0px;
	height:0px;
	line-height:0px;	
	float:none;
}
#main{
	width:100%;
	height:100%;	
}
.main{
	width:1000px;
	height:100%;
	margin:0 auto;	
	position:relative;
}
h1.title{
	color:#fff;
	font-size:24px;
	line-height:32px;
	text-transform:uppercase;
	padding:0 0 20px;
	font-weight:300;	
}
.margT40{
	margin-top:40px !important;	
}

/* HEADER */
.head { height:150px !important; }
#header { height:580px; }
.headerimg { background-position: center top; background-repeat: no-repeat; width:100%; height:580px; position:absolute; }
#header .top{
	height:145px;
	width:100%;
	background:url(../images/bg_top.png) repeat-x;	
}
#header .bottom{
	height:435px;
	width:100%;
	position:relative;	
}
a.logo{
	    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    cursor: pointer;
    width: 215px;
    height: 120px;
    background: url(../images/logo.png) no-repeat;
    font-family: 'Open Sans Condensed';
    text-align: right;
    color: #ea9103;
    line-height: 140px;
    font-size: 20px;
}

#weather{
	width:80px;
	padding:15px 10px 10px;
	height:95px;
	text-align:center;	
	background:url(../images/bg_line1.png) no-repeat 0 0;
	position:absolute;
	left:740px;
	top:0px;
	color:#5e5346;
	font-weight:500;
	font-family:'Open Sans';
	font-size:13px;
	line-height:18px;
}
#weather img { margin:5px 0px; vertical-align:middle; }
#langs{
	width:100px;
	padding:10px 10px 10px;
	height:90px;
	text-align:center;	
	background:url(../images/bg_line1.png) no-repeat 0 0;
	position:absolute;
	left:840px;
	top:0px;
	color:#5e5346;
	font-weight:500;
	font-family:'Open Sans';
	font-size:13px;
	line-height:18px;
}
#langs table { margin:5px 0 0; }
#langs table tr td { padding:2px 3px; }
#langs span { color:#fff; }
#langs a { color:#5e5346; }
#langs a:hover { color:#fff; }
#langs a.lang{
	padding:3px;
	display:inline-block;
	width:28px;
	height:17px;
	text-align:center;	
	padding:5px 0 0;
}
#langs a.lang:hover, #langs a.active{
	background:url(../images/bg_lang_active.png) no-repeat;	
}

/* MENU */
#menu{
	position:absolute;
	width:505px;
	height:60px;
	margin:50px 0 10px;	
	left:235px;
}

/* SLIDER */
#slide_name{
	height:90px;
	width:960px;
	background:url(../images/slide_name_bg.png) repeat;
	position:absolute;
	bottom:20px;	
	overflow:hidden;
}
#slide_name div.caption{
	text-align:center;
	margin:15px 0 10px;	
}

/* SLIDER TEXT */
#firstline { color:#fff; font-size:30px; line-height:38px; font-family:'Open Sans Condensed'; display:block; width:800px; margin:0 auto; }
#firstline:hover { text-decoration:none; color:#f3e799; }
#secondline { color:#f3e799; text-decoration:none; font-size:14px; line-height:18px; font-family:'Open Sans'; font-weight:500; font-style:italic; display:block;  width:800px; margin:0 auto; }
#secondline:hover { text-decoration:none; color:#fff; }
a.but_order { display:inline-block; width:260px; height:90px; background:url(../images/bg_but_bron.png) no-repeat; position:absolute; top:140px; left:50%; margin:0 0 0 -130px; }

/* SLIDER CONTROLS */
#headernav-outer { position:absolute; bottom:111px;  }
.btn { height:37px; width:19px; cursor:pointer; position:absolute; top:27px; }
#back { background-image:url(../images/btn_back.png); left:30px; }
#next { background-image:url(../images/btn_next.png); left:910px; }

/* CONTENT */
#content{
	background:url(../images/bg_content.jpg) no-repeat center 48px;
	padding:0px 0 0;	
	margin:0 0 0;
}

/* CENTER INDEX */
#content div.index{
	margin:-20px -25px -20px 0;	
}
/*  left  */
#content div.index div#left{
	width:600px;
	float:left;	
	padding:30px 0;
}
#content div.index div#left h1.title1 {
	color:#fff;
	font-size:46px;
	line-height:56px;
	text-transform:uppercase;
	padding:0 0 30px;
	font-weight:300;
}
/*  right  */
#content div.index div#right{
	width:240px;
	float:right;	
	background:#080401;
	padding:30px;
}
#content div.index div#right h2{
	color:#786940;
	font-size:26px;
	line-height:30px;
	text-transform:uppercase;
	padding:0 0 30px;	
	font-weight:300;
}

/* REVIEWS INDEX */
div#right div.revievs{
	
}
div#right div.revievs div.rev{
	padding:0 0 40px;
}
div#right div.revievs div.rev div.nn{
	color:#ea9103;
	font-size:16px;	
	padding:0 0 15px;
}
div#right div.revievs div.rev div.nn span{
	color:#49433e;	
	font-size:14px;
}
div#right div.revievs div.rev div.rr{
	color:#a0a285;
	font-style:italic;
}

/* DOP MENU */
#dop_menu{
	height:48px;
	width:100%;
	background:#110f09;
    margin-bottom: 15px;
}
#dop_menu ul{
	list-style:none;
	padding:0px;
	margin:0px;	
}
#dop_menu ul li{
	float:left;
    position: relative;
}

#dop_menu ul li ul li{
    float: none;
}

#dop_menu ul li a{
	color:#ff9c00;
	text-decoration:none;
	text-transform:uppercase;
	font-size:18px;
	line-height:20px;
	display:inline-block;
	padding:15px 40px 0px;	
	height:33px;
	margin:0;
	font-family:'Open Sans Condensed';	
	background:url(../images/bg_dop_menu.png) no-repeat right 23px;
	margin:0 3px 0 0;
}
#dop_menu ul li.last a { background:none }
#dop_menu ul li a:hover, #dop_menu ul li a.active{
	color:#000;	
	background:url(../images/bg_dop_menu_active.png) repeat-x;
}

#dop_menu ul ul {
    position:       absolute;
    width:  208px; /* left offset of submenus need to match (see below) */
    z-index:200;
    display:none;
    list-style:none;
    background:#ff9c00;
    margin:0;
    padding:10px 0;
    opacity:1;
    top: 48px !important;
} 
#dop_menu ul li:hover ul{
    left:           0px;
    z-index:        99;
    display: block;
}

#dop_menu ul li ul li a{
    color:#000;
    text-decoration:none;
    text-transform:uppercase;
    font-size:18px;
    line-height:20px;
    display:block;
    padding:7px 15px 7px;  
    height:auto;
    margin:0;
    font-family:'Open Sans Condensed';  
    background:none  !important;
    margin:0 3px 0 0;
    text-align: center;
}

/* WRAPER */
#wraper{
	margin:15px 0 0;
	background:url(../images/bg_wraper.png) repeat;
	padding:20px 25px 20px 30px;	
}

/* FOOTER */
#footer{
	width:100%;
	height:155px;
	background:url(../images/bg_footer.png) repeat-x #0b0501;	
}
.foot{
	padding:0 0 0 30px;	
}
#footer div.menu_footer{
	padding:0 0 20px;	
}
#footer div.menu_footer ul{
	list-style:none;
	padding:0px;
	margin:0px;
	width:100%;
	height:40px;
	background:url(../images/bg_footer_menu.png) repeat;
}
#footer div.menu_footer ul li{
	float:left;
	border-left:1px solid #b56f00;
	border-right:1px solid #f0980f;	
}
#footer div.menu_footer ul li.last{
	border-right:0px solid #f0980f;	
}
#footer div.menu_footer ul li a{
	color:#000;
	text-decoration:none;
	text-transform:uppercase;
	font-size:18px;
	line-height:20px;
	display:inline-block;
	padding:10px 35px;	
	margin:0;
	display:inline-block;
	font-family:'Open Sans Condensed';	
}
#footer div.menu_footer ul li a:hover, #footer div.menu_footer ul li a.active{
	background:#b56f00;
	color:#fff !important;
}
#footer div.copy{
	float:left;
	width:200px;
	padding:0 0 0 55px;
	color:#7d7f68;
	font-size:12px;
	background:url(../images/bg_copy.png) no-repeat 5px 0;
}
#footer div.phones{
	float:left;
	width:180px;
	font-size:15px;
	padding:0 20px 0;
	color:#ea9103;
}
#footer div.phones > strong{
	padding:0 25px 0 0;
	color:#fff;	
}
#footer div.adress{
	float:left;
	width:270px;
	font-size:12px;
}
#footer div.soc_links{
	float:right;
	padding:0px 0 0;
    font-size: 12px;
    margin: 0px !important;
    text-align: left;
}

/* GALLERY */
div.gallery div.el{
	float:left;
	width:260px;
	margin:5px 20px 15px; 
	text-align:center	
}
div.gallery div.el > a{
	display:inline-block;
}
div.gallery div.el > a > img{
	width:250px;
	border:3px solid #d5d5d5;	
}
div.gallery div.el > a > img:hover{
	border-color:#ff9c00;	
}
.gallspan{
	cursor:pointer;
	padding:5px 0;
	font-size:20px;	
	line-height:24px;
}
.gallspan:hover{
	color:#ff9c00;		
}

div.catalog {
    padding: 0 0 20px;
    border-bottom: #ea9103 solid 1px;
    margin-bottom: 25px;
}

div.catalog .namenomer > a {
    color: #ea9103;
    text-decoration: underline;
}.namenomer {font-size: 16pt;}
div.catalog .namenomer > a:hover { color:#fff }
div.catalog div.anounce {
	padding:0 0 10px;	
}
div.catalog div.anounce ul {
	padding:5px 0 15px 20px;
}
div.catalog a.img > img {
    border: 3px solid #d5d5d5;
}
.button{
	display:inline-block;
	padding:5px 25px 6px;
	color:#fff;	
	background:#ea9103;
	cursor:pointer;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
.button:hover{
	color:#ea9103;	
	background:#fff;	
}
.tl_sf_main_page {
    position: absolute;
    top: -24px;
    left: 0;
}
.tl_sf_inner_page {
    width: 960px;
    margin: 0 auto -27px;
}
.head_address {
    position: absolute;
    top: 15px;
    left: 250px;
    color: #ff9c00;
    font-size: 11px;
}
.head_address_text {
    display: inline-block;
}
.booking_phone {
    display: inline-block;
    margin-left: 30px;
}
.book-button {
    float: right;
    margin-top: -50px;
    margin-right: 150px;
}
.more-link {
    text-decoration: underline;
}
.tl-slider {
    float: left;
    width: 650px;
    margin-right: 20px;
}
.b-room-price {
    float: right;
    width: 500px;
    margin-top: -450px;
}
.b-room-price .price {
    float: right;
    width: 200px;
    margin-top: 10px;
    margin-left: 300px;
}
.b-room-price .button {
    margin-top: 10px;
    margin-left: 300px;
}
.b-room-price .price .value {
    color: #ea9103;
    font-size: 23px;
}
.b-room-price .single:before {
    background: url('../images/adult.png') no-repeat;
    width: 40px;
    height: 19px;
    display: inline-block;
    content: " ";
    margin-right: 15px;
}
.b-room-price .double {
    margin-top: 5px;
}
.b-room-price .double:before {
    background: url('../images/adult.png') repeat-x;
    width: 40px;
    height: 19px;
    display: inline-block;
    content: " ";
    margin-right: 15px;
}

.b-room-description {
    float: left;
    margin-top: 20px;
    width: 940px;
}
.price_value {
    color: #ea9103;
    font-size: 20px;
}

.room_cat{
    display: inline-block;
    width: 270px;
    vertical-align: top;
    margin-right: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.room_cat .anounce {
    height: 100px;
    overflow: hidden;
    font-size: 13px;
} 
.room_cat .anounce p{
    padding-bottom:  0px;
    }

.room_cat .anounce a{ 
    display: block;
    margin: 0px;
    float: none;
    width: 100%;
    box-sizing: border-box;
    margin-top: 5px;
}

.room_cat .image{
    margin: 5px 0px;
    border: 4px solid #ea9103;

}

.room_cat .image img{ width: 100%;}


.room_cat .anounce ul{ 
    list-style: none;
    margin: 0px;
    padding: 0px;
}