#block-search,
#block-search * {
    box-sizing: border-box;
}

#block-search {
    max-width: 395px;
    margin: 0 auto;
    background-color: #D8AA32;
}

.tl-container {
    padding: 0 20px;
}

#tl-booking-form {
    max-width: 414px;
    margin: 0 auto;
}

.tl-booking-btn {
    float: left;
    display: inline-block;
    margin: 20px 2.66%;
    padding: 9px 20px;
    font-family: 'open-sans',sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    color: #D6A92F!important;
    text-align: center;
    text-decoration: none!important;
    background-color: #260C01;
    border: 2px solid #D3A530;
}